
/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
  border-radius: 10px;
}
  
/* 
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  */
.container{
  width: 70%;
}

.preview{
  width: 50%;
}
  .card-detail {
    margin-top: 50px;
    background: rgb(212, 212, 212);
    padding: 3em;
    line-height: 1.5em; 
    margin-left: 100px;
    border-radius: 20px;
    width: 100%;
}

.product-description {
  width: 300px;
  height: 110px;
  overflow: visible;
}
.action{
  margin-top: 250px;
}

  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
            margin-left: 20px;
    font-size: 15px;
          }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #7923b3; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;

  }
  .product-description{
    overflow: visible;
  }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart {
    background: #a70ec2;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: rgb(23, 63, 163);
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover  {
      background: #860aac;
      color: rgb(255, 255, 255); }
    .btn{
      background-color: #7923b3;
    }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  /*# sourceMappingURL=style.css.map */

  /*-------------------header-----------------------*/
.header{
  display: flex;
  justify-content: space-between;
  padding:  35px;
  height: 100px;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: rgba(166, 165, 166, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)), 
  url('https://www.nhatminhlaptop.vn/Upload/2021/4/5/asus-rog-cu103528.jpg');
  
}
.header__navbar-item-link{
  color: black;
}
.header__navbar-item{
  background-color: ;
}
.header__logo{
  display: flex;
  align-items: center;
  width: 220px;
  padding: 0 15px;
}

.header__logo-img{
  width: 160px;
  position: relative;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 200px;
  width: 1070px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}





.menu{
flex:3;
display: flex;
}
.menu>li{
  padding: 0 12px ;
  position: relative;
}
.menu > li:hover .sub-menu{
  visibility: visible;
  top: 45px ;
}

  /*--------container-------*/

  .container{
    margin-left: 100px;
    margin-top: 55px;
    justify-content: center;
  }

  .detail{
    margin-left: 30px;
  }

