<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TD computer</title>
    <!--Reset css-->       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/orther_package.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4-web/css/all.min.css">   <!--Icon-->
       <!--font chữ-->
</head>
<body>
  <div class="app-container">
        
    <div class="icon-fixed hide-on-tablet-mobile">
       
      
        <div class="icon-fixed__buy-now">BUY NOW</div>
    </div>
  
    <div class="header__index">
        <section class="header">
            <div class="header__logo">
                <a href="" class="header__logo-link">
                    <img src="img/logohehee.png" alt="" class="header__logo-img">
                </a>
            </div>
            <div class="header__navbar hide-on-tablet-mobile">
                <ul class="header__navbar-list">

                    <li class="header__navbar-item">
                        <a href="product.html" class="header__navbar-item-link">Laptop</a>
                        <ul class="header__subnav-list">
                            <li class="header__subnav-item header__subnav-item-quanlity--hot">
                                <a href="#" class="header__subnav-link">Search 1</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Search 2</a>
                            </li>
                            <li class="header__subnav-item header__subnav-item-have-subnav">
                                <a href="#" class="header__subnav-link">KKKKSDKN</a>
                                <ul class="header__subnav-list">
                                    <li class="header__subnav-item header__subnav-item-quanlity--best">
                                        <a href="#" class="header__subnav-link">Carousel</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="#" class="header__subnav-link">Custom</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="#" class="header__subnav-link">HEHE</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="#" class="header__subnav-link">Default</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Destination</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Typology</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Monitor</a>
                        <ul class="header__subnav-list">
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">ÚGDFHSDF</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Single Product</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Cart</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">CheckFSDGSDGout</a>
                            </li>
                        </ul>
                    </li>

                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-item-link">Eelectrical parts</a>
                        <ul class="header__subnav-list">
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Services</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Agency Tours</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Testimonials</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Prices</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Promotions</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Faq</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="" class="header__subnav-link">Coming Soon</a>
                            </li>
                            <li class="header__subnav-item header__subnav-item-have-subnav">
                                <a href="" class="header__subnav-link">About Us</a>
                                <ul class="header__subnav-list">
                                    <li class="header__subnav-item">
                                        <a href="" class="header__subnav-link">About Us 1</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="" class="header__subnav-link">About Us 2</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="" class="header__subnav-link">About Us 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__subnav-item header__subnav-item-have-subnav">
                                <a href="" class="header__subnav-link">Contact</a>
                                <ul class="header__subnav-list">
                                    <li class="header__subnav-item">
                                        <a href="" class="header__subnav-link">Contact 1</a>
                                    </li>
                                    <li class="header__subnav-item">
                                        <a href="" class="header__subnav-link">Contact 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                  
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Network device</a>
                        <ul class="header__subnav-list">
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Contact 1</a>
                            </li>
                            <li class="header__subnav-item">
                                <a href="#" class="header__subnav-link">Contact 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="btn-large header__navbar-item-link header-btn">CART</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="btn-large header__navbar-item-link header-btn">log in</a>
                    </li>
                </ul>
            </div>

            <input type="checkbox" hidden id="header-nav" class="header-input">

            <label for="header-nav" class="header-slide__menu "> </label>

           
        </section>

        <!-- headder content -->
        <div class="header-content">
            <div class="header-content__wrap">
                <div class="header-content__heading">
                    <span class="header-content__heading-title">
                        Look for favorite
                        <span class="under-line-effect under-line-effect--purple">Device</span>
                    </span>
                </div>

                <div class="header-content__search">
                    <div class="header-content__search-input">
                        <input type="text" class="header-content__search-input-wrap" placeholder="put a keyword to buy ...">
                        <div class="header-content__search-history">
                            <ul class="header-content__search-history-list">
                                <li class="header-content__search-history-item">
                                    <a href="">laptop</a>
                                </li>
                                <li class="header-content__search-history-item">
                                    <a href="">Phone</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-content__search-btn">
                            <i class="header-content__search-icon fas fa-search"></i>
                        </div>
                    </div>
                </div>
                
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End header -->

    <!--Begin destinations-->
    <div class="destinations grid ">
        <div class="content__header">
            <span class="content__header-decs">OFFERING</span>
            <h3 class="content__header-heading" style="font-weight: bold;">
                    PRODUCT
                <span class="under-line-effect under-line-effect--green">ON SALE</span>
            </h3>
        </div>
        <div class="destinations__wrap row">
            <div class="travel col l-4 m-12">
                <div class="travel__fadeOut">
                    <img src="./assets/img/anh1.jpg" alt="Thailandia" class="travel__img">

                </div>
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
            <div class="travel col l-4 m-12">
                <img src="https://laptopworld.vn/media/news/2406_01_B9400_KV-1.jpg" alt="Thailandia" class="travel__img">
                <div class="travel__fadeOut">
                    
                </div>
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
            <div class="travel col l-4 m-12">
                <img src="https://i2.wp.com/abgeeauzno.cloudimg.io/v7/pokde.net/assets/uploads/2021/06/asus-tuf-gaming-f15-cta.jpg?ssl=1" alt="Asia" class="travel__img">
                <div class="travel__fadeOut">
                    
                </div>
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
            <div class="travel col l-4 m-12">
                <img src="https://hanoicomputercdn.com/media/lib/29-04-2021/laptop-asus-gaming-rog-strix-scar-g533qr-mota-1.jpg" alt="Italy" class="travel__img">
                
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
            <div class="travel col l-4 m-12">
                <img src="./assets/img/anh111.jpg" alt="Netherlands" class="travel__img">
                
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
            <div class="travel col l-4 m-12">
                <img src="https://hanoicomputercdn.com/media/lib/29-04-2021/laptop-asus-gaming-rog-strix-scar-g533qr-mota-1.jpg" alt="United States" class="travel__img">
                
                <div class="travel__fadeIn">
                    <div class="travel__fadeIn-wrap">
                        
                        <a href="" class="btn travel__fadeIn-btn">Detail</a>
                    </div>
                </div> 
            </div>
        </div>   
    </div>
    <!--End destinations-->  
    
    <!-- Begin Moment -->
    <div class="moment">
        <div class="moment__text-wrap">
           
        </div>
        <div class="moment__input">
            <a href="" class="btn-large moment__input-btn">Regist to recieve discount</a>
        </div>
    </div>
    <!-- End Moment -->

    <!-- Begin Featured-place -->
    <div class="featured-place grid">
        <div class="featured-place__wrap">
            <div class="featured-place__content">
                <div class="featured-place__header">
                    <span class="featured-place__header-desc">November</span>
                    <span class="featured-place__header-heading">
                        Best
                        <span class="under-line-effect under-line-effect--blue">PRODUCT</span>
                    </span>
                </div>
                <div class="featured-place__pharagrap">
                    <p class="featured-place__pharagrap-item">ASUS ROG Zephyrus Duo 15, là phiên bản chơi game của ZenBook Pro Duo. Được biết các thế hệ trước đó đã có nhiều tính năng tương tự như Zephyrus Duo 15 nhưng lần này Duo 15 sẽ được chuyển sang dùng CPU Ryzen 5000 Series di động thế hệ mới và series này sẽ đi kèm với card màn hình thứ dữ mạnh mẽ của Nvidia: GeForce RTX 30 series.</p>                    
                
                </div>
                <div class="featured-place__price">
                    <span class="featured-place__price-old">3500</span>
                    <span class="featured-place__price-sale">2999 $</span>
                    <span class="featured-place__price-lable">/ EACH</span>
                </div>
                <a href="" class="btn-large btn-green featured-place__btn">BUY NOW</a>
            </div>
            <div class="featured-place__img-time">
                <div class="light-bar">
                    <div class="bullet bullet--selected"></div>
                    <div class="bullet"></div>
                    <div class="bullet"></div>
                </div>
                <img src="https://news.phongcachxanh.vn/wp-content/uploads/2021/01/ASUS-ROG-Zephyrus-Duo-15-SE-2021-Gaming-Notebook-1030x696-1.png" alt="" class="featured-place__img">
                <div class="featured-place__time">
                    <div class="featured-place__item separate cross-separate">
                        <div class="featured-place__item-number">Ryzen 9</div>
                        <div class="featured-place__item-text">5900HX</div>
                    </div>
                    <div class="featured-place__item separate cross-separate">
                        <div class="featured-place__item-number">RTX 3080</div>
                        <div class="featured-place__item-text">32GB</div>
                    </div>
                    <div class="featured-place__item separate cross-separate">
                        <div class="featured-place__item-number">SSD PCIe </div>
                        <div class="featured-place__item-text">2 TB</div>
                    </div>
                    <div class="featured-place__item ">
                        <div class="featured-place__item-number">RAM</div>
                        <div class="featured-place__item-text">32gb </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-place__options row">
            <div class="featured-place__options-item col l-4 m-12">
                <img src="https://www.vhv.rs/dpng/d/359-3591410_technology-strategy-digital-transformation-era-the-business-transformation.png" alt="World Tour" class="featured-place__options-item-img">
                <div class="featured-place__options-wrap">
                    <h4 class="featured-place__options-wrap-heading">FEATURE</h4>
                    <p class="featured-place__options-wrap-content">Với màn hình thứ hai ROG ScreenPad Plus tân tiến, Zephyrus Duo 15 SE nâng tầm trải nghiệm gaming với Windows 10.</p>
                    <a href="" class="featured-place__options-wrap-link">DETAIL</a>
                </div>
            </div>
            <div class="featured-place__options-item col l-4 m-12">
                <img src="https://www.pinclipart.com/picdir/middle/543-5433535_business-transformation-transformation-icon-clipart.png" alt="Cruises" class="featured-place__options-item-img">
                <div class="featured-place__options-wrap">
                    <h4 class="featured-place__options-wrap-heading">TECHNICAL DETAIL</h4>
                    <br>
                    <span class="featured-place__options-wrap-content"> AMD Ryzen™ 9 5900HX</span>
                    <br>
                    <span class="featured-place__options-wrap-content">NVIDIA® GeForce RTX™ 3070</span>
                    <br>
                    <span class="featured-place__options-wrap-content">SSD 1TB M.2 NVMe™ PCIe® 3.0</span>
                    <br>
                    <span class="featured-place__options-wrap-content">15,6-inch FHD (1920 x 1080) 16:9</span>
                    <br>
                    <br>
                    
                    <a href="" class="featured-place__options-wrap-link">DETAIL</a>
                </div>
            </div>
            <div class="featured-place__options-item col l-4 m-12">
                <img src="https://www.striata.com/wp-content/uploads/2018/04/2_Digital-strategy-icon.png" alt="Best Tours" class="featured-place__options-item-img">
                <div class="featured-place__options-wrap">
                    <h4 class="featured-place__options-wrap-heading">REVIEW</h4>
                    <p class="featured-place__options-wrap-content">ASUS ROG Zephyrus Duo 15 SE GX551 chắc chắn sẽ là sự lựa chọn tuyệt vời cho các game thủ và các nhà sáng tạo nội dung.</p>
                    <a href="" class="featured-place__options-wrap-link">DETAIL</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Featured-place -->

    <!-- Begin Discover -->
    <div class="discover">
        <div class="discover__item discover__item-city">
            <!-- <span class="discover__item-desc"></span> -->
            <!-- <h2 class="discover__item-heading">BO MẠCH CHỦ</h2> -->
            <a href="" class="btn-large text-orange discover-btn">MAIN</a>
        </div>
        <div class="discover__item discover__item-nature">
            <!-- <span class="discover__item-desc">01. LAST MINUTE</span> -->
            <!-- <h2 class="discover__item-heading">CARD ĐỒ HOẠ</h2> -->
            <a href="" class="btn-large text-green discover-btn">VGA</a>
        </div>
    </div>
    <!-- End Discover -->

    <!-- Begin OUR PACKAGES -->
    <div class="promotion grid">
        <div class="content__header ">
            <h2 style="font-weight: bold" class="content__header-heading">
                EVENT
            </h2>
        </div>
        <div class="promotion__wrap row">
            <div class="promotion__item col l-4 m-12">
                <div class="promotion__item-img promotion__item-euro">
                    <a href="" class="promotion__item-icon btn-linear-yellow">
                        
                    </a>
                </div>
                <div class="promotion__item-body">
                    <div class="promotion__item-head">
                        <a href="" class="promotion__item-head-heading">BUY MORE, GIFT MORE</a>
                        <a href="" class="promotion__item-head-location">
                            <i class="promotion__item-head-location-icon fas fa-map-marker-alt"></i>
                            HA NOI
                        </a>
                    </div>
                    <div class="promotion__item-desc-price">
                        <a href="" class="promotion__item-desc">
                            <div style="font-size: 18px;" class="promotion__item-desc-text">TIME</div>
                        </a>
                        <a href="" style="font-size: 18px;" class="promotion__item-price">02/4-30/4/2021</a>
                    </div>
                    <div class="promotion__item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
                    </div>
                    <a href="" class="btn-small btn-yellow promotion__item-btn">DETAIL</a>
                </div>
            </div>
            <div class="promotion__item col l-4 m-12 promotion__item-sale">
                <div class="promotion__item-img promotion__item-hongkong">
                    <a href="" class="promotion__item-icon btn-linear-red">
                        
                    </a>
                </div>
                <div class="promotion__item-body">
                    <div class="promotion__item-head">
                        <a href="" class="promotion__item-head-heading">1 EXTRA INSURANCE YEAR</a>
                        <a href="" class="promotion__item-head-location">
                            <i class="promotion__item-head-location-icon fas fa-map-marker-alt"></i>
                            HO CHI MINH
                        </a>
                    </div>
                    <div class="promotion__item-desc-price">
                        <a href="" class="promotion__item-desc">
                            <div style="font-size: 18px;" class="promotion__item-desc-text plus plus-red">TIME</div>
                        </a>
                        <a href="" class="promotion__item-price">
                            <span style="font-size: 18px;">1/12/2021</span>
                        </a>
                    </div>
                    <div class="promotion__item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
                    </div>
                    <a href="" class="btn-small btn-red promotion__item-btn">DETAIL</a>
                </div>
            </div>
            <div class="promotion__item col l-4 m-12">
                <div class="promotion__item-img promotion__item-sanfrancisco">
                    <a href="" class="promotion__item-icon btn-linear-purple">
                        
                    </a>
                </div>
                <div class="promotion__item-body">
                    <div class="promotion__item-head">
                        <a href="" class="promotion__item-head-heading">Back to school</a>
                        <a href="" class="promotion__item-head-location">
                            <i class="promotion__item-head-location-icon fas fa-map-marker-alt"></i>
                            ALL
                        </a>
                    </div>
                    <div class="promotion__item-desc-price">
                        <a href=""  class="promotion__item-desc">
                            <div style="font-size: 18px;" class="promotion__item-desc-text">TIME</div>
                        </a>
                        <a href="" style="font-size: 18px;" class="promotion__item-price">1/11/2021</a>
                    </div>
                    <div class="promotion__item-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</p>
                    </div>
                    <a href="" class="btn-small btn-purple promotion__item-btn">DETAIL</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End OUR PACKAGES -->

    <!-- Begin Footer -->
    <div class="footer">
        <div class="footer__wrap grid">
            <div class="footer__header-with-search">
                <div class="footer__header content__header">
                    <span class="content__header-decs"></span>
                    <h2 class="content__header-heading">TD Computer</h2>
                </div>
                <div class="footer__search">
                    <form action="">
                        <input type="text" class="btn-medium footer__input" placeholder="Search">
                        <input type="submit" value="Search" class="btn-medium btn-blue footer__send-btn">
                    </form>
                </div>
            </div>
            <div class="footer__body">
                <div class="footer__body-text">
                    <img src="assest/img/logohehee.png" alt="" class="footer__body-img">
                    <div class="footer__body-paragraph">
                       Buy PC Gaming, laptop gaming, VGA, mmonitor, gaming chair,gaming device top in  Viet Nam. Buy online to reviece better offer!!.
                       
                    </div>
                    <div class="footer__body-socials">
                        <a href="" class="footer__body-socials-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="footer__body-socials-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="" class="footer__body-socials-link">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="" class="footer__body-socials-link">
                            <i class="fab fa-vimeo-v"></i>
                        </a>
                    </div>
                </div>
                <div class="footer__body-link row">
                    <div class="footer__body-link-path col l-4 m-4 c-12">
                        <div class="footer__body-link-path-heading">Insureance policy</div>
                        <ul class="footer__body-link-path-list">
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                               AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                               AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                        </ul>
                    </div>
                    <div class="footer__body-link-path col l-4 m-4 c-12">
                        <div class="footer__body-link-path-heading">Payment policy</div>
                        <ul class="footer__body-link-path-list">
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                               AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                        </ul>
                    </div>
                    <div class="footer__body-link-path col l-4 m-4 c-12">
                        <div class="footer__body-link-path-heading">Delivery policy</div>
                        <ul class="footer__body-link-path-list">
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                               AAAAAA
                            </li>
                            <li class="footer__body-link-path-item">
                                <i class="footer__body-link-path-icon fas fa-angle-right"></i>
                                AAAAAA
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <span> Address: Viet Tower, 1 Thai Ha, Trung Liet, Đong Đa, Ha Noi, Viet Nam - 0999.999.999</span>
            </div>
        </div>
    </div>
    <!-- End Footer -->

  </div>
</body>
</html>